// styles
.circles
    position: absolute
    top: 0

    svg
        margin: -40px
        width: 210px

    &.small
        svg
            margin: -19px
            width: 81px

    path
        stroke-linecap: round
        stroke-width: 4
        stroke-dasharray: 280
        transition: all 0.3s ease

    path.bg
        stroke: #0D414D

    path.blue
        // stroke: blue
        transform: rotate(45deg)
        transform-origin: 50% 50%

    path.red
        // stroke: red
        transform: rotate(225deg)
        transform-origin: 50% 50%
